<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Admin Dashboard</h1>
    <a href="/portal/admin/dashboard/teachers">Teachers</a>
    <a href="/portal/admin/dashboard/subjects">Subjects</a>
    <a href="/portal/admin/dashboard/classes">Classes</a>
    <a href="/portal/admin/dashboard/students">Students</a>
  </body>
</html>
