<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Add Teacher</h1>

    <form action="" method="post">
      <input type="text" name="name" id="" placeholder="Fullname" />
      <br />
      <input type="email" name="email" id="" placeholder="Email" />
      <br />
      <input type="password" name="password" id="" placeholder="Password" />
      <br />
      <input type="tel" name="phone" id="" placeholder="Phone Number" />
      <br />
      <input type="checkbox" name="classes" id="English" value="English" />
      <label for="English">English</label>
      <br />
      <select name="role">
        <option value="HOD">Head of Department</option>
        <option value="Teacher">Teacher</option>
      </select>
    </form>
  </body>
</html>
